        </main>

        <footer class="ph3 ph4-ns ph5-l">

            <div class="c-measure center">

                <p class="f7 tc">A project by <a href="https://www.leonpaternoster.com/posts/adventures-of-sherlock-holmes/" class="pv1 dark-blue hover-dark-red no-underline">Leon Paternoster <span role="img" aria-hidden="true">⚡️</span></a></p>

            </div>

        </footer>

        <script src="/js/anchor.min.2024-01-01.js"></script>

        <script>
            anchors.options = {
            visible: 'hover',
            placement: 'left',
            icon: '#',
            class: 'dark-blue hover-dark-red c-anchor-link f1'
            };
            anchors.add('.c-anchor p, .c-anchor li');
        </script>

    </body>

</html>
