        </main>

        <footer class="ph2 ph4-ns ph5-l">

            <div class="measure center">

                <p class="f6">A project by <a href="https://www.leonpaternoster.com/posts/adventures-of-sherlock-holmes/" class="pv1 dark-blue hover-dark-red no-underline">Leon Paternoster</a> 🕵🏼‍♂️</p>

            </div>

        </footer>

        <script src="/js/anchor.min.js"></script>

        <script>
            anchors.options = {
            visible: 'hover',
            placement: 'left',
            icon: '#',
            class: 'dark-blue hover-dark-red c-anchor-link'
            };
            anchors.add('.c-anchor p');
        </script>

    </body>

</html>
