@media screen, projection {

// Define variables in _variables.scss
// Then create classes that refer to them here
// Then use these class names in your HTML

// Example: create an alternative sans-serif class
// Define $c-sans-serif in _variables.scss
// Then create a c-sans-serif class here
// Like so:
.c-sans-serif {
    font-family: $c-sans-serif;
}

.c-serif {
    font-family: $c-serif;
}

.c-avenir {
    font-family: $c-avenir;
}

.c-hyphens {
    hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
}

.c-font-size {
    font-size: $c-font-size;
    @media #{$breakpoint-medium} {
        font-size: $c-font-size-m;
    }
    @media #{$breakpoint-large} {
        font-size: $c-font-size-l;
    }
}

.c-measure {
    max-width: $c-measure;
}

// Smooth and wellpositioned scrolling
html {
    scroll-behavior: smooth;
}

[id] {
    scroll-margin-top: 2ex;
}

// Images

img {
    max-width: 100% !important;
    height: auto;
}


// Style hrs
hr {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #CCC;
    color: #E7040F;
    text-align: center;
}

hr:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #F4F4F4;
}


// Some empty media queries
// Use these if you want to make responsive custom classes

.c-lh-copy {
    line-height: $lh;
    @media #{$breakpoint-not-small} {
        line-height: $lh-ns;
    }
}

.c-anchor-link {
    display: none;
    @media #{$breakpoint-not-small} {
        display: inline;
    }
}

@media #{$breakpoint-not-small} {
}

@media #{$breakpoint-medium} {
}

@media #{$breakpoint-large} {
}


} // End the enclosing screen/projection media query
