// Add your custom variables to this file
// I normally prepend them with a 'c-' to distinguish them from Tachyons selectors

// Better sans-serif stack putting Segoe before Arial on Windows
// We'll refer to this variable in _c.scss
$c-sans-serif: -apple-system, BlinkMacSystemFont, 'segoe ui', 'helvetica neue', helvetica, ubuntu, roboto, noto, sans-serif;

// Make a serif stack with IBM Plex serif
$c-serif: 'Plex Serif', georgia, serif;

// Make Avenir jump to Segoe rather than Arial if you're viewing in Windows
$c-avenir: 'avenir next', avenir, -apple-system, BlinkMacSystemFont, 'segoe ui', 'helvetica neue', helvetica, ubuntu, roboto, noto, sans-serif;

// Define font-sizes at breakpoints
$c-font-size: 112.5%;
$c-font-size-m: 118.75%;
$c-font-size-l: 125%;

// Define some line-heights
$lh: 1.4;
$lh-ns: 1.5;

// Highlight colour
$accent: dark-pink
