{% include header.html %}

<main class="ph3 ph4-ns ph5-l mb3" id="content">

    <article class="pb3 pv4-ns measure center">

        <h1 class="normal i f3 lh-title pb2 bw3 bb b--dark-red mb4">{{ page.title }}</h1>

        <ul class="ma0 pa0 list">

        {% assign stories = site.pages | where: "is_story", "true" | sort: "number" %}

        {% for story in stories %}

            <li class="lh-title mt0 mb4"><span class="c-avenir db f6">Adventure {{ story.number }} </span><a class="f4 db pv1 dark-blue hover-dark-red no-underline" href="/the-adventures-of-sherlock-holmes/{{ story.slug }}">{{ story.title }}</a></li>

        {% endfor %}

        </ul>

    </article>

{% include footer.html %}
