{% include header.html %}

    <div id="top" class="ph3 ph4-ns ph5-l mb3 mb0-l bg-white bb b--moon-gray">

        <div class="c-measure center">

            <a href="/" class="f6 db dark-blue no-underline hover-dark-red ttl small-caps tracked pv3">{{ site.title }}</a>

        </div>

    </div>

    <main class="ph3 ph4-ns ph5-l" id="content">

        <article class="pt4-ns c-measure center">

            <header class="bb bw3 b--dark-red mb3 c-avenir">

                <h1 class="lh-title mt0 mb2 f3 f2-ns"><span class="dark-red">Adventure {{ page.number }} </span><span class="db">{{ page.title }}</span></h1>

                {% assign chapters = site.chapters | where: "story", page.slug | sort: "number" %}

                {% if chapters.size > 1 %}

                <details class="b f6 pb2">

                    <summary class="dark-blue hover-dark-red lh-title pointer">Table of contents</summary>

                    <ul class="list ma0 mt2 pa0">

                        {% for chapter in chapters %}

                            <li><a href="#ch{{ chapter.number }}" class="pv2 bt b--moon-gray dark-blue no-underline hover-dark-red db">Chapter {{ chapter.number }}</a></li>

                        {% endfor %}

                    </ul>

                </details>

                {% endif %}

            </header>

            {% if page.image %}

            <figure class="ma0 pa0 tc">

                <img class="db center" alt="{{ page.alt }}" src="/images/{{ page.slug }}.jpg" height="{{ page.image-height }}" width="{{ page.image-width }}">

                <figcaption>

                    <p class="f6">Illustration by <a href='https://en.wikipedia.org/wiki/Sidney_Paget' class='dark-blue hover-dark-red'>Sidney Paget</a>, 1892</p>

                </figcaption>

            </figure>

            {% endif %}

            <div class="c-anchor c-hyphens pb2">

                {% assign chapters = site.chapters | where: "story", page.slug | sort: "number" %}

                {% if chapters.size < 2 %}

                    {% for chapter in chapters %}

                    {{ chapter.content }}

                    {% endfor %}

                {% else %}

                    {% for chapter in chapters %}

                    <section id="ch{{ chapter.number }}" class="pt2">

                        <header class="c-avenir pb1 bb b--moon-gray">

                            <h2 class="lh-title f4 mb1">{{ chapter.number }}.</h2>

                            {% if chapter.number > 1 %}

                                <p class="f6 ma0"><a href="#top" class="dark-blue hover-dark-red no-underline">Back to top &uarr;</a></p>

                            {% endif %}

                        </header>

                        {{ chapter.content }}

                    </section>

                    {% endfor %}

                {% endif %}

            </div>

            <footer class="bt b--light-gray pt2 pb3">

                <ul class="f6 ma0 pa0 list">

                    <li class="dib mr3"><a href="#top" class="dark-blue hover-dark-red no-underline">Back to top &uarr;</a></li>
                    <li class="dib"><a href="/" class="dark-blue hover-dark-red no-underline">Home</a></li>

                </ul>

            </footer>

        </article>

{% include footer.html %}
